@font-face {
    font-family: "Outfit";
    src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
}

body{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.component__card{
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    padding: 1em;
    border-radius: 20px;
}

.component__card img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.component__body{
    padding: 1em;
    text-align: center;
}

.component__body h2{
    color: hsl(218, 44%, 22%);
}

.component__body p{
    color: hsl(220, 15%, 55%);
}
